footer {
  padding-bottom: 4rem;
  position : relative;
  width: inherit;
  background-color: #fff;
  border-top: 1px solid rgb(174, 174, 174);
}

footer .footer{
  width: 66.25rem;
  height: inherit;
  margin: 0 auto;
}

.company-menu {
  margin: 1rem 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.info-left {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.company-logo {
  margin-right: 3.1rem;
}

.info-btn {
  margin-right: 3.1rem;
  font-size: 0.9rem;
  color: #3a3a3a;
}

.sns-link {
  margin-left: 0.8rem;
}

#companyInfo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#footerText {
  width: 48rem;
  padding: 1rem 0.62rem 0 0;
  font-size: 0.75rem;
  line-height: 1.25rem;
  color: #767676;

}

#selectButton {
  padding: 0 2.8rem;
  margin-top: 1rem;
  height: 2.5rem;
  width: 15rem;
  background: #f2f4f7;
  border-radius: 0.31rem;
  border: none;
  font-size: 0.8rem;
  color: #717171;
  appearance: none;
  font-weight: 500;
}