:root {
  --border-radius: 0.25rem:
}

#mainSection1 {
  position: relative;
  padding: 1.5rem;
  height: 18.75rem;
  overflow: hidden;   
}

.slides{
  position: absolute;
}

.slides li{
  float: left;
  margin: 0 0.75rem;
}

.slides li .slide-image {
  border-radius: 0.25rem;
  cursor: pointer;
}

.controller span{
  position:absolute;
  top : 9rem;
  width : 1.8rem;
  padding : 1.25rem 0;
  opacity : .5;
  color : #aaa;
  background-color : #fff;
  border-radius : 3.1rem;
  cursor : pointer;
}

.controller .slide-prev {
  left : 15.5rem;
}

.controller .slide-next {
  right : 15.5rem;
}

.section2{
  padding: 3.75rem 0;
  margin: 0 auto;
  width: 66.25rem;
}

.main-section2-title {
  width: fit-content;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
}

#questionButton {
  margin-left: 0.2rem;
  cursor: pointer;
}

#miniPopup {
  z-index: 8;
  position: absolute;
  padding: 1.25rem;
  max-width: 23rem;
  border: 1px solid #999;
  background-color: #fff;
  text-align: left;
}

#miniPopupTop {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#miniPopupTitle {
  font-size: 0.81rem;
  font-weight: 700;
  line-height: 1.18rem;
  color: #000;
}

#closeIcon {
  cursor: pointer;
}

#miniPopupComment {
  margin-top: 0.9rem;
  font-size: 0.81rem;
  font-weight: 400;
  line-height: 1.18rem;
  color: #333;
}

.main-section2-scroll {
  display: flex;
  flex-direction: row;
}

.scroll-bar {
  position: relative;
  width: 63rem;
  justify-content: space-between;
  margin: 1.8rem 0;
  overflow: hidden;
}

.scroll {  
  position: inherit;
  white-space: nowrap;
  width: 63rem;
}

.scroll button {
  padding: 0.7rem 1.37rem;
  margin: 0 0.2rem;
  font-size: 0.95rem;
  font-weight: 500;
  line-height: 1rem;
  color: #aaa;
  border: 1px solid #e1e2e3;
  border-radius: 3.1rem;
  cursor: pointer;
}

.scroll button:hover {
  background-color: #e1e2e3;
}

.scroll-button-left {
  position: absolute;
  top: 0;
  width: 5rem;
  height: 2.53rem;
  background: linear-gradient(90deg,#fff 50%,hsla(0,0%,100%,0));
} 

.scroll-button-right {
  position: absolute;
  top: 0;
  width: 5rem;
  height: 2.53rem;
  right: 0rem;
  background: linear-gradient(270deg,#fff 50%,hsla(0,0%,100%,0));
}

.scroll-prev, .scroll-next {
  display: flex;
  width: 2.5rem;
  height: inherit;
  border: 1px solid #e1e2e3;
  border-radius: 50%;
  color: #aaa;
}

.scroll-next {
  margin-left: 2.5rem;
}

.prev-button-icon, .next-button-icon {
  margin: auto;
}

.ellipsis {
  margin: 1.8rem 0 1.8rem 0.3rem;
  width: 2.5rem;
  height: 2.5rem;
  color: #aaa;
  border: 1px solid #e1e2e3;
  border-radius: 10%;
  background-color: #fff;
}

.career-card {
  width: 66.25rem;
  margin-top: 1.8rem;
  display: flex;
  flex-wrap: wrap;
}

.career-card li {
  margin: 0 0.4rem 3.125rem;
  width: 15.6rem;
  text-align: left;
}

.card-image {
  width: 15.6rem;
  height: 10.9rem;
  border-radius: 0.2rem;
  object-fit: cover;
}

.card-title {
  margin: 1rem 0 0.5rem;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.5rem;
  color: #333;
}

.card-comment {
  margin: 0.5rem 0;
  font-weight: 600;
  font-size: 0.81rem;
  line-height: 1.3rem;
  color: #aaa;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.profile-information {
  display: flex;
  flex-direction: row;
}

.profile-photo {
  width: 1.8rem;
  height: 1.8rem;
  border: 1px solid #ececec;
  border-radius: 50%;
}

.writer {
  margin: auto 0.31rem;
  font-size: 0.81rem;
  font-weight: 600;
  color: #aaa;
}

#otherContent  {
  width: 21rem;
  height: 3.1rem;
  margin: 0 auto;
  padding: 0.62rem 1.68rem;
  font-size: 1rem;
  font-weight: 700;
  border: 1px solid #e1e2e3;
  border-radius: 3.1rem;
  background-color: inherit;
}

.down-button-icon {
  margin: auto 0.2rem;
}

.example {
  margin-top: 0.2rem;
  font-size: 0.9rem;
  color : #aaa;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.example p {
  line-height: 1rem;
}

.card-comment2 {
  font-size: 0.75rem;
  font-weight: 500;
  color: #333;
  text-align: left;
}

.card-comment3 {
  margin-top: 1rem;
  font-size: 0.81rem;
  font-weight: 600;
  color: #333;
  text-align: left;
}

.card-comment4 {
  margin: 0.5rem 0;
  font-weight: 600;
  font-size: 0.81rem;
  line-height: 1.3rem;
  color: #aaa;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

#lineBanner {
  width: 66.25rem;
  margin: 0 auto;
  padding: 1.31rem 0;
  font-size: 1rem;
  font-weight: 700;
  color: white;
  background-image: linear-gradient(90deg,#01a9fe -12%,#2f5fef 37%,#046afe 72%,#00d2dd 110%);
  border-radius: 3.1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  cursor: pointer;
}

#lineBanner p {
  margin: auto 0.2rem;
}

.career-card .event-card {
  padding: 0.5rem;
  width: 31rem;
}

.event-card-image {
  width: 31rem;
  height: 17rem;
  object-fit: cover;
}

#online-icon {
  width: fit-content;
  margin: 0.6rem 0;
  padding: 0.2rem 0.37rem;
  color: white;
  background-color: black;
  border-radius: 0.18rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#online {
  margin-left: 0.2rem;
  font-size: 0.68rem;
  line-height: 0.75rem;
  color: white;
}

/* ------------------ */
#reasonSection {
  height: 8.5rem;
  padding: 3.75rem 0;
  background-color: #F7F7F7;
}

#reasonSectionContents {
  width: 66.25rem;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#reasonSectionContentsLeft {
  width: inherit;
  display: flex;
  flex-direction: column;
  text-align: left;
}

#reasonSectionContentsTitle {
  height: 2.6rem;
}

#wantedPlusLogo {
  width: 10rem;
}

#subscribeReason {
  margin-bottom: 0.18rem;
  font-size: 1.8rem;
  font-weight: 600;
}

#reasonSectionContentsComment {
  font-size: 14px;
  line-height: 1.42;
  color: #333333;
}

#applySubscribe {
  margin-top: 1.5rem;
  width: 17rem;
  height: 3.1rem;
  color: white;
  background-color: #36f;
  border-radius: 3.1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.check-icon {
  width: 1rem;
}

.apply-subscribe-comment {
  margin: 0 0.12rem;
  font-size: 1rem;
  font-weight: 600;
}

.jobs {
  width: 66.25rem;
  height: 6.37rem;
  margin: 1.8rem auto;
  display: flex;
  flex-direction: row;
}

.jobs-menu {
  width: 16.56rem;
  border: 1px solid #e1e2e3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.jobs-expl {
  margin-top: 1rem;
  font-weight: 600;
  display: flex;
  flex-direction: row;
}